Package: com.jesseluux.circlelock
Name: Circlelock
Depends: com.matchstic.infostats2
Version: 1.0
Architecture: iphoneos-arm
Description: A highly customizable LockHtml4/Groovylock theme
Maintainer: jesseluux
Author: jesseluux
Section: Lockscreen Widgets
