Package: com.jesseluux.circlelockbeta
Name: Circlelock_beta
Depends: com.matchstic.infostats2
Version: 0.5beta
Architecture: iphoneos-arm
Description: A LockHtml4/Groovylock theme
Maintainer: jesseluux
Author: jesseluux
Section: Lockscreen Widgets
